body {
	font-family: sans-serif;
    text-align:center;
}

h1 {
    text-shadow: 0px 5px 10px #999999;
}

table {
	margin: auto;
	border-collapse: collapse;
	border: 2px solid rgb(200,200,200);
	border-radius: 5px;
	letter-spacing: 1px;
}

th, td {
	border: 1px solid rgb(190,190,190);
}

th {
  background-color: rgb(235,235,235);
}

tfoot {
  font-weight: bold;
}

.quantityInput {
    text-align: right;
    font-size: 14px;
    width: 147px;
}

.submit {
	margin: 35px;
    font-size: 20px;
    font-weight: bold;
    width: 300px;
}

.submit:hover {
    transform: scale(1.05);
}

.piechart {
	margin: auto;
	width: 500px;
	height: 500px;
}

#selection {
	font-size: 20px;
}

#extendedTable {
	display: none;
}

#extendedPiechart {
	display: none;
}


